/* set millions of background images */
.rbroundbox { background: url(../../public/images/nt.gif) repeat; }
.rbtop div { background: url(../../public/images/tl.gif) no-repeat top left; }
.rbtop { background: url(../../public/images/tr.gif) no-repeat top right; }
.rbbot div { background: url(../../public/images/bl.gif) no-repeat bottom left; }
.rbbot { background: url(../../public/images/br.gif) no-repeat bottom right; }

/* height and width stuff, width not really nessisary. */
.rbtop div, .rbtop, .rbbot div, .rbbot {
width: 100%;
height: 7px;
font-size: 1px;
}
.rbcontent { margin: 0 0px; }
.rbroundbox { width: 100%; margin: 0em auto; }