#demoIzq, #demoDer { border:1px dashed; width:296px; background-color:#EAEAEA; text-align:center; }

#demoDer { float:right; position:relative; }

#lista
{
	position:absolute;
	width:141px;
	background-color:#EAEAEA; color:#000000;
	border:1px dotted; border-color:#000000;
	z-index:1;
	top:25px;
	left:76px;
	display:none;
}

.resaltado
{
	background-color:#FFFFFF; color:#000000;
	cursor:pointer;
}

.normal
{
	background-color:#EAEAEA; color:#000000;
}

	
#loginsesion {	
width:500px;
padding: 1em 3em; 
/*margin: 1em 25%;*/
	margin:10px auto;
	padding: 2px;
	color: #fff;
	background-color: #f8fafb;
	border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
	-webkit-box-shadow: 0px 0px 5px 10px rgba(255,255,255,0.77);
	-moz-box-shadow: 0px 0px 5px 10px rgba(255,255,255,0.77);	
	box-shadow: 0px 0px 5px 10px rgba(255,255,255,0.77);
	}
	#loginsesion table{	
	background-color: #f8fafb;
	
	}
